(security_headers) {
	header {
		-Server
		-X-Powered-By
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "SAMEORIGIN"
	}
}

meet.example.com {
	import security_headers
	encode zstd gzip
	reverse_proxy 127.0.0.1:8081
}

livekit.example.com {
	import security_headers
	reverse_proxy 127.0.0.1:7880
}
